<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <datepicker></datepicker>
    </div>
    
    <div class="col-xs-6">
      <speech></speech>
    </div>
  </div>

  <div class="row">    
    <div class="col-xs-6">
      <div class="panel">
        <div class="panel-heading"></div>

        <div class="panel-body">
          
          <tree></tree>
        </div>
      </div>
    </div>

    
    <div class="col-xs-6">
      <divtable></divtable>
    </div>
  </div>
</section>