<h3>List Chevrons</h3>

<ul class="listbullets">
  <li ng-repeat="el in $ctrl.list">
    {{el}}
  </li>
</ul>

<ul class="colorchevron">
  <li ng-repeat="el in $ctrl.list">
    {{el}}
  </li>
</ul>

<hr />

<h3>Default</h3>

<ul class="">
  <li ng-repeat="el in $ctrl.list">
    {{el}}
  </li>
</ul>

<hr />

<h3>Circle</h3>

<ul style="list-style-type: circle;">
  <li ng-repeat="el in $ctrl.list">
    {{el}}
  </li>
</ul>




<div class="row">
  <div class="col-md-55">
    <div class="thumbnail">
      <div class="image view view-first">
        <img style="width: 100%; display: block;" src="images/garrett.jpg" alt="image">
        <div class="mask">
          <p>Your Text</p>
          <div class="tools tools-bottom">
            <a href="#"><i class="fa fa-link"></i></a>
            <a href="#"><i class="fa fa-pencil"></i></a>
            <a href="#"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
      <div class="caption">
        <p>Snow and Ice Incoming for the South</p>
      </div>
    </div>
  </div>


  <div class="col-md-55">
    <div class="thumbnail">
      <div class="image view view-first">
        <img style="width: 100%; display: block;" src="images/garrett.jpg" alt="image">
        <div class="mask">
          <p>Your Text</p>
          <div class="tools tools-bottom">
            <a href="#"><i class="fa fa-link"></i></a>
            <a href="#"><i class="fa fa-pencil"></i></a>
            <a href="#"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
      <div class="caption">
        <p>Snow and Ice Incoming for the South</p>
      </div>
    </div>
  </div>
</div>