.fruits
  color red

fruits .table > tbody > tr > td {
    line-height: 25px !important;
}

fruits .table > thead > tr > th, 
fruits .table > tbody > tr > th, 
fruits .table > tfoot > tr > th, 
fruits .table > thead > tr > td, 
fruits .table > tbody > tr > td, 
fruits .table > tfoot > tr > td {
    padding: 0px !important;
    padding-left: 8px !important;
}