@import '../common'

.container
  width 100% !important

.navbar
  height 6.5rem
  background-color $primaryColor
  padding 1rem
  .nav-links
  .logo
    display inline-block
  .logo
    color $lightTextColor
    margin-right 50% 
  .nav-links
    span
      color $lightTextColor
      font-size 1.6rem

.nav
  .dropdown
    pointer cursor

    span 
      display block
      
      a
        padding 15px
        display block
        text-decoration: none

  .dropdown:hover
    background #e9e9e9