<main>
  <div class="row">
    <tiles></tiles>
  </div>

  <div class="row dashboardPanel">
    <div class="col-sm-4">
      <h4 class="iconTitle">
        Crypto
      </h4>

      <piechart></piechart>
    </div>

    <div class="col-sm-4">
      <h4 class="iconTitle">Legend</h4>

      <iconlist list-data="$ctrl.listData"></iconlist>
    </div>

    <div class="col-sm-4">
      <h4 class="iconTitle">Graph Randomization</h4>
      
      <!-- componentize -->
      <button ng-click="update()">Randomize</button>

      <button ng-click="minimizer()">Minimize</button>
      
      <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick" </canvas>
    </div>
  </div>
  

  <div class="row dashboardPanel">
    <div class="col-sm-12">
      <testefforttable></testefforttable>
    </div>
  </div>

</main>