<main>
  <div class="container">


    <div class="row">
      <div class="col-sm-12">
        <i>
          NG-Agile Mockups has been developed and will be maintained solely for the purpose of quickly mocking up common user features.  
          Our goal is to improve communication between the users, requirements engineers and developers to minimize reimplementation.
        </i>

        <ul>
          <li>
            Forms - Common Tasks today range from creating forms for CRUD operations and one-to-one, one-to-many and many-to-many operations.
          </li>
          <li>Help Pages</li>
          <li>Database - NoSQL or Relational</li>
          <li>Visualizations</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <testefforttable></testefforttable>
      </div>
    </div>
  </div>

</main>