<div class="modal-header">
    <h3 class="modal-title" id="modal-title">
        Add Fruit

        <div class="pull-right" ng-click="$ctrl.cancel()" style="cursor: pointer; font-size: 18px;">x</div>
    </h3>
</div>

<div class="modal-body" id="modal-body">
    
    <input type="text" class="form-control" ng-model="$ctrl.newFruitName" />
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>