.simple-input {
  background: #fff;
  border: 1px solid #c9c9c9;
  box-shadow: 4px 2px 3px #c9c9c9;
}

.simple-input-wrapper {
  margin: 10px;
}

.adjustMargin {
  margin-top: 0;
  margin-left: 6px;
}