.app
  height 100%
  background-color $lightBgColor

.appCard {
  background: white;
  box-shadow: 3px 3px 3px #e4e4e4;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  margin: 0px !important;
}

.appPadding {
  padding:10px;
}