.top_tiles {
  margin-bottom: 0;

  color: #73879C;
  font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;

  div.flipInY {
    margin-bottom:10px;
  }

  .tile-stats {
    position: relative;
    display: block;
    margin-bottom: 0px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background: #FFF;
    transition: all .3s ease-in-out;
  
    .icon {
      width: 20px;
      height: 20px;
      color: #BAB8B8;
      position: absolute;
      right: 53px;
      top: 22px;
      z-index: 1;
    }

    .count, h3, p {
      position: relative;
      margin: 0 0 0 10px;
      z-index: 5;
      padding: 0;
    }
    .count {
      font-size: 38px;
      font-weight: 700;
      line-height: 1.65857;
    }
    h3 {
      color: #BAB8B8;
    }

    .icon i {
      margin: 0;
      font-size: 60px;
      line-height: 0;
      vertical-align: bottom;
      padding: 0;
    }
  }
  
}