{{value}}
{{rowToAdd}}
<ul>
  <li class="item form-group no-margin-bottom" ng-repeat="(k, v) in value">
    
    <label class="control-label col-md-1" 
      style="margin-top:12px; font-size: 11px;">
      {{k}}:
    </label>

    <div class="col-md-8" style="display: inline; width: auto;">
      <input class="form-control col-sm-8" style="display: inline;" type="text" 
        ng-model="rowToAdd[k]" />
    </div>

    <div class="col-sm-2 comma" style="margin-top: 25px; margin-left: -25px;">,</div>
  </li>
</ul>