<ul>
  <li ng-repeat="(prop, value) in props track by $index" class="animate-repeat">

    <div class="form-group">
      <label class="control-label col-md-1" style="margin-top:12px;">
        {{value.title}}:
      </label>

      <div class="col-md-8 col-sm-6 col-xs-12">
        <!-- perhaps use an ng-switch here and render different types to key off of to render, select, textarea, text, etc -->
        <input class="form-control col-sm-8" style="display: inline; width: auto;" placeholder="{{value}}" type="text" ng-model="rowToAdd[value.data]"
        />

      </div>

      <!-- 2 level recursion -->
      <div ng-if="value.internalType === 'object'">
        <!--<dynamic-form-renderer props="value"></dynamic-form-renderer>-->
        <div style="clear:both;"></div>

        <!--<ul>
          <li class="item form-group no-margin-bottom" ng-repeat="(k, v) in value">
            <label class="control-label col-md-1" style="margin-top:12px; font-size: 11px;">            
              {{k}}:
            </label>
            <div class="col-md-8" style="display: inline; width: auto;">
              <input class="form-control col-sm-8" style="display: inline;" type="text" ng-model="rowToAdd[k]" />
            </div>

            <div class="col-sm-2 comma" style="margin-top: 25px; margin-left: -25px;">,</div>
          </li>
        </ul>-->

        <dynamic-object-form-renderer value="value" row-to-add="rowToAdd"></dynamic-object-form-renderer>
      </div>

      <div ng-if="value.internalType === 'array'">
        <!--{{value.keys}} {{value.internalType}}-->
        <!--<dynamic-form-renderer props="value"></dynamic-form-renderer>-->
      </div>
    </div>
  </li>
</ul>


<div class="row">
  <div class="col-sm-12">

    <div class="form-group" style="margin-left: 20px;">
      <div>
        <button ng-click="btnAddData()" class="btn btn-info">Add Data</button>

        <button ng-click="$ctrl.red = !$ctrl.red" class="btn btn-info">RED Data</button>
      </div>

      <div ng-hide="$ctrl.red" class="box-one">REs</div>
    </div>
  </div>
</div>