@import '../../common/common'

.ganntdates
  color red

.length
  min-height 50px
  line-height 50px
  height 100%

.primary
  background $darkColor

.success
  background $successColor

.info
  background $mediumColor

.warning
  background $lightColor

.error
  background $veryLightColor

