<ul class="list-unstyled top_profiles scroll-view">
  
  <button>Go</button>
  <li class="media event" ng-repeat="listElement in $ctrl.listData">
    <a class="pull-left border-{{listElement.color}} profile_thumb">
      <i class="fa fa-user {{listElement.color}}"></i>
    </a>

    <div class="media-body">
      <a class="title" href="#" ng-click="$ctrl.setSelected(listElement)">{{listElement.title}}</a>
      <p><strong>${{listElement.value}}. </strong> {{listElement.category}} </p>
      <p> <small>{{listElement.sales}} Sales Today</small>
      </p>
    </div>
  </li>
  
</ul>