ul.top_profiles {
    height: 330px;
    width: 100%;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ul.top_profiles li:nth-child(odd) {
    background-color: #eee;
}

.media:first-child {
    margin-top: 0;
}

ul.top_profiles li {
    margin: 0;
    padding: 3px 5px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.media {
  margin-top: 15px;

  .profile_thumb {
    border: 1px solid;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    padding: 3px 14px;
  }
  .profile_thumb {
    font-size: 30px;
  }
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;

    p {
      margin-bottom: 0;
    }
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.event .media-body a.title {
    font-weight: 700;
}
b, strong {
    font-weight: 700;
}

.border-aero {
    border-color: #9CC2CB!important;
}
.aero {
    color: #9CC2CB;
}
.green {
    color: #1ABB9C;
}
.border-green {
    border-color: #1ABB9C!important;
}
.blue {
    color: #3498DB;
}
.border-blue {
    color: #3498DB;
}