<ul class="list-unstyled top_profiles scroll-view">
  <li class="media event">
    <a class="pull-left border-aero profile_thumb">
      <i class="fa fa-user aero"></i>
    </a>
    <div class="media-body">
      <a class="title" href="#">Ms. Mary Jane</a>
      <p><strong>$2300. </strong> Agent Avarage Sales </p>
      <p> <small>12 Sales Today</small>
      </p>
    </div>
  </li>
  <li class="media event">
    <a class="pull-left border-green profile_thumb">
      <i class="fa fa-user green"></i>
    </a>
    <div class="media-body">
      <a class="title" href="#">Ms. Mary Jane</a>
      <p><strong>$2300. </strong> Agent Avarage Sales </p>
      <p> <small>12 Sales Today</small>
      </p>
    </div>
  </li>
  <li class="media event">
    <a class="pull-left border-blue profile_thumb">
      <i class="fa fa-user blue"></i>
    </a>
    <div class="media-body">
      <a class="title" href="#">Ms. Mary Jane</a>
      <p><strong>$2300. </strong> Agent Avarage Sales </p>
      <p> <small>12 Sales Today</small>
      </p>
    </div>
  </li>
  <li class="media event">
    <a class="pull-left border-aero profile_thumb">
      <i class="fa fa-user aero"></i>
    </a>
    <div class="media-body">
      <a class="title" href="#">Ms. Mary Jane</a>
      <p><strong>$2300. </strong> Agent Avarage Sales </p>
      <p> <small>12 Sales Today</small>
      </p>
    </div>
  </li>
  <li class="media event">
    <a class="pull-left border-green profile_thumb">
      <i class="fa fa-user green"></i>
    </a>
    <div class="media-body">
      <a class="title" href="#">Ms. Mary Jane</a>
      <p><strong>$2300. </strong> Agent Avarage Sales </p>
      <p> <small>12 Sales Today</small>
      </p>
    </div>
  </li>
</ul>