
.dashboardgrid .tile_count .tile_stats_count .count {
    font-size: 40px;
}

.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

@media (min-width: 992px) {
  .tile_count .tile_stats_count:first-child:before {
      border-left: 0;
  }
}

.tile_count .tile_stats_count:before {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    border-left: 2px solid #ADB2B5;
    margin-top: 10px;
}