.dynamicForm {
  input {
    margin-top: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  input:focused {
    outline: none !important;
    border-color: 0;
    -webkit-box-shadow: none;
    box-shadow: none !important;
  }

  h5 {
    margin: 0;
    margin-left: 20px;
    font-size: 28px;
    font-weight: 400;
    color: #ccc;
    
  }

  li {
    list-style-type: none;
  }
}

