<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Admin: Persons</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>

            </ul>
          </li>

        </ul>
        <div class="clearfix"></div>
      </div>




      <div class="x_content">

        <div class="dynamicForm">
          <!-- begin form -->

          <form class="form-horizontal">
            <div class="col-sm-offset-8 col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="$ctrl.columnHeaderItem" placeholder="Column Name">
                <span class="input-group-btn">
                <button type="button" class="btn btn-primary"
                          ng-click="$ctrl.addColumnHeader($ctrl.columnHeaderItem)">
                          Add New Col <i class="fa fa-plus-circle"></i>
                </button>
                </span>
              </div>
            </div>
          </form>



          <div style="clear:both;"></div>

          <!-- using directive -->
          <section class="row">
            <form class="form-horizontal form-label-left">
              <dynamic-form-renderer props="$ctrl.columns" add-data="$ctrl.addData()" row-to-add="$ctrl.datasetItem">
              </dynamic-form-renderer>
            </form>
          </section>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- templates -->


<!-- script prop_renderer.html -->
<script type="text/ng-template" id="prop_renderer.html">

  <div class="item form-group bad">
    <label class="control-label col-md-2 col-sm-3 col-xs-12" style="margin-top:12px;" for="name">{{prop.title}}:</label>

    <div class="col-md-8 col-sm-6 col-xs-12">
      <!-- perhaps use an ng-switch here and render different types to key off of to render, select, textarea, text, etc -->
      <input id="name" class="form-control col-sm-8" style="display: inline; width: auto;" data-validate-length-range="6" data-validate-words="2"
        name="name" placeholder="{{prop.data}}" type="text" ng-model="$ctrl.datasetItem[prop.data]" />

      <div class="col-sm-2" style="margin-top: 25px; margin-left: -10px;">,</div>
    </div>
  </div>

  <!-- uncomment this to enable two level nested columns -->
  <!-- perhaps use an ng-switch here and render different types to key off of to render, select, textarea, text, etc -->
  <!--<ul>
    <li ng-repeat="(prop, value) in prop">

      <div class="item form-group bad">
        <label class="control-label col-md-2 col-sm-3 col-xs-12" style="margin-top:12px;" for="name">{{prop}}:</label>

        <div class="col-md-8 col-sm-6 col-xs-12">
          
          <input id="name" class="form-control col-sm-8" style="display: inline; width: auto;" data-validate-length-range="6" data-validate-words="2"
            name="name" placeholder="{{value}}" type="text" ng-model="$ctrl.datasetItem[value]"
          />

          <div class="col-sm-2" style="margin-top: 25px; margin-left: -10px;">,</div>
        </div>
      </div>

      <div ng-include="prop_renderer.html"></div>
    </li>
  </ul>-->

</script>