<form class="form">
  <div class="form-group">
    <label>What is your name?</label>
    <input type="text" class="form-control" ng-model="$ctrl.phrase">
  </div>

  <div class="form-group">
    <label for="">Click to see a random quote</label>
    <button class="btn btn-warning" ng-click="$ctrl.getQuote()">Get Quote</button>
  </div>

  <div class="form-group">
    <label for="">Options:</label>

    <input type="radio" ng-model="$ctrl.selectedRadio" value="Red Pill"> Red
    <input type="radio" ng-model="$ctrl.selectedRadio" value="Blue Pill"> Blue
    <input type="radio" ng-model="$ctrl.selectedRadio" value="No Pill"> No

    <div>
      {{$ctrl.selectedRadio}}
    </div>
  </div>
</form>