<div>
  <!-- dashboard view -->
  <div class="row dashboardPanel">
    <div class="col-sm-9 heading">

      <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
          <!-- tabs -->
          <li role="presentation" class="active"><a href="#salaryGraph" role="tab" id="salaryGraph-tab" data-toggle="tab" aria-expanded="true">Salary Graph</a></li>
          <li role="presentation" class=""><a href="#companyMap" role="tab" id="companyMap-tab" data-toggle="tab" aria-expanded="false">Company Map</a></li>
          <li role="presentation" class=""><a href="#computeTable" role="tab" id="computeTable-tab" data-toggle="tab" aria-expanded="false">Compute Table</a></li>
          <li role="presentation" class=""><a href="#salaryAnalytics" role="tab" id="salaryAnalytics-tab" data-toggle="tab" aria-expanded="false">Salary Analytics</a></li>

        </ul>

        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade active in" id="salaryGraph" aria-labelledby="salaryGraph-tab">

            <div class="row x_title">
              <div class="col-md-10" style="padding-top:5px;">
                <h4 class="title pull-left">Salary Visualization</h4>

                <ui-select multiple ng-model="$ctrl.selectedKey" theme="bootstrap" sortable="true" close-on-select="true" ng-change="$ctrl.updateGraph()"
                  style="width: 240px; margin-top: 2px;" class="margin-left pull-left">

                  <ui-select-match placeholder="X projections ...">{{$item}}</ui-select-match>

                  <ui-select-choices repeat="key in $ctrl.keys track by $index">
                    <div ng-bind-html="key | highlight: $select.search"></div>
                    <small>
                {{$sce.trustAsHtml(key)}} 
              </small>
                  </ui-select-choices>
                </ui-select>

                <ui-select multiple ng-model="$ctrl.selectedY" theme="bootstrap" sortable="true" close-on-select="true" ng-change="$ctrl.updateGraph()"
                  style="width: 290px; margin-top: 2px;" class="margin-left pull-left">
                  <ui-select-match placeholder="Y projections ...">{{$item}}</ui-select-match>

                  <ui-select-choices repeat="key in $ctrl.keys track by $index">
                    <div ng-bind-html="key | highlight: $select.search"></div>
                    <small>
                {{$sce.trustAsHtml(key)}} 
              </small>
                  </ui-select-choices>
                </ui-select>
              </div>

              <div class="col-md-2" style="padding-top:10px;">

                <ul class="nav navbar-nav navbar-right">
                  <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
              <i class="fa fa-times icon"></i>
            </button>

                  <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                    <a href="" id="simple-dropdown" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-refresh"></i>
              </a>

                    <ul class="dropdown-menu" uib-dropdown-menu="" aria-labelledby="simple-dropdown">
                      <li class="title">
                        Form
                      </li>

                      <!-- ngRepeat: choice in $ctrl.forms -->
                      <li ng-repeat="choice in $ctrl.forms" class="message ng-scope">
                        <a ui-sref="about" class="ng-binding" href="/about">About</a>
                      </li>
                      <!-- end ngRepeat: choice in $ctrl.forms -->
                      <li ng-repeat="choice in $ctrl.forms" class="message ng-scope">
                        <a ui-sref="login" class="ng-binding" href="/login">Login</a>
                      </li>
                      <!-- end ngRepeat: choice in $ctrl.forms -->
                    </ul>
                  </li>

                  <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                    <a href="" uib-dropdown-toggle ng-click="$ctrl.btnOpenSettingsModal()" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-cog"></i>
                    </a>

                    <ul class="dropdown-menu animated fadeInDown" uib-dropdown-menu="" aria-labelledby="simple-dropdown">
                      <li class="title">
                        Form
                      </li>
                    </ul>
                  </li>


                  <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)">
                    <a href="" id="simple-dropdown" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-info-circle"></i>
                    </a>

                    <ul class="dropdown-menu" uib-dropdown-menu="" aria-labelledby="simple-dropdown">
                      <li class="title">
                        Form
                      </li>

                      <!-- ngRepeat: choice in $ctrl.forms -->
                      <li ng-repeat="choice in $ctrl.forms" class="message ng-scope">
                        <a ui-sref="about" class="ng-binding" href="/about">About</a>
                      </li>
                      <!-- end ngRepeat: choice in $ctrl.forms -->
                      <li ng-repeat="choice in $ctrl.forms" class="message ng-scope">
                        <a ui-sref="login" class="ng-binding" href="/login">Login</a>
                      </li>
                      <!-- end ngRepeat: choice in $ctrl.forms -->
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <small>
              <small>( {{$ctrl.selectedKey}}, {{$ctrl.selectedY}} )</small> {{$ctrl.selectedListData}}
            </small>

            <!-- component: dynamicgraph -->
            <dynamicgraph graph-data="$ctrl.graphData" labels="$ctrl.labels"></dynamicgraph>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="companyMap" aria-labelledby="companyMap-tab">
            <company-map></company-map>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="computeTable" aria-labelledby="computeTable-tab">
            <!-- component: computeTable -->
            <h4 class="iconTitle">Compute Table <small>( {{$ctrl.selectedKey[0]}}, {{$ctrl.selectedY}} )</small></h4>

            <div class="input-group">
              <div class="input-group-btn">
                <!-- Buttons -->
              </div>

              <input type="text" ng-model="$ctrl.selectedListData.title" class="form-control" />
            </div>

            <div style="max-height:400px; height: 400px; overflow-y: scroll;">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{$ctrl.selectedKey[0]}}</th>
                    <th ng-repeat="series in $ctrl.series">{{series}}</th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="gLabel in $ctrl.graphDataObjects | filter:$ctrl.selectedListData.title track by $index">
                    <td>{{gLabel.label}}</td>
                    <td>{{gLabel.value}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="salaryAnalytics" aria-labelledby="salaryAnalytics-tab">

            <!-- component: datatable -->
            <datatable columns="$ctrl.columns" rows="$ctrl.dataset"></datatable>
          </div>


        </div>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col-sm-3 heading">
      <div class="row x_title">
        <div class="col-sm-10" style="padding-top: 5px;">

          <h4 class="title pull-left">Views</h4>
        </div>

        <div class="col-sm-2" style="padding-top:10px;">

          <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
              <i class="fa fa-times icon"></i>
            </button>

            <li>
              <a href class="dropdown-toggle">
                <i class="fa fa-refresh"></i>
              </a>
            </li>
          </ul>

        </div>
      </div>

      <div>
        <!-- component: iconlist -->
        <iconlist class="ng-isolate-scope" list-data="$ctrl.listData" selected-list-data="$ctrl.selectedListData" on-click="$ctrl.onClickListElement()"></iconlist>

        <!-- component: stockTable -->
        <stock-table list-data="$ctrl.listData">></stock-table>
        <hr />
      </div>
    </div>
  </div>


  <div class="row dashboardPanel">
    <div class="col-sm-8">
      <h4 class="iconTitle">Graph Analytics</h4>

      <!-- component: graphanalytics -->
      <graphanalytics class="ng-isolate-scope" labels="$ctrl.labels" graph-data="$ctrl.graphData"></graphanalytics>
    </div>

    <div class="col-sm-4">
      <!-- component: piechartAjs -->
      <piechart-ajs></piechart-ajs>
    </div>
  </div>
</div>