<div>

  <!-- key selection -->
  <div class="form-group">
    <select name="" id="" class="form-control" ng-model="$ctrl.selectedKey">
      <option value="" ng-repeat="key in $ctrl.keys track by $index">{{key}}</option>
    </select>
  </div>

  <!-- dashboard view -->
  <div class="row dashboardPanel">
    <div class="col-sm-9">

      <div class="row x_title">
        <div class="col-md-6" style="padding-top:5px;">
          <h4 class="iconTitle">Salary Graph <small>( {{$ctrl.selectedKey[0]}}, {{$ctrl.selectedY}} )</small></h4>
        </div>

        <div class="col-md-6" style="padding-top:10px;">

          <ui-select multiple ng-model="$ctrl.selectedY" theme="bootstrap" sortable="true" close-on-select="true" ng-change="$ctrl.updateGraph()">
            <ui-select-match placeholder="Select key ...">{{$item}}</ui-select-match>

            <ui-select-choices repeat="key in $ctrl.keys track by $index">
              <div ng-bind-html="key | highlight: $select.search"></div>
              <small>
            {{$sce.trustAsHtml(key)}} 
          </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>

      {{$ctrl.selectedListData}}

      <!-- graph -->
      <dynamicgraph graph-data="$ctrl.graphData" labels="$ctrl.labels"></dynamicgraph>
    </div>

    <div class="col-sm-3">
      <h4 class="iconTitle">Views</h4>

      <iconlist class="ng-isolate-scope" 
        list-data="$ctrl.listData"
        selected-list-data="$ctrl.selectedListData"
        on-click="$ctrl.onClickListElement()"></iconlist>


      <h4 class="iconTitle">Graph Analytics</h4>

      <graphanalytics class="ng-isolate-scope" 
        labels="$ctrl.labels"
        graph-data="$ctrl.graphData"></graphanalytics>

      <piechart-ajs></piechart-ajs>
    </div>
  </div>


  <div class="row dashboardPanel">
    <div class="col-sm-9">
      <h4 class="iconTitle">Compute Table <small>( {{$ctrl.selectedKey[0]}}, {{$ctrl.selectedY}} )</small></h4>

      <input type="text" ng-model="$ctrl.selectedListData.title" class="form-control" />

      <table class="table">
        <thead>
          <tr>
            <th>Company Name</th>
            <th>Value</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="gLabel in $ctrl.graphDataObjects | filter:$ctrl.selectedListData.title track by $index">
            
            <td>{{gLabel.label}}</th>
            <td>
              <div ng-if="$ctrl.graphData.length > 0">
                
                {{$ctrl.graphData[0][$index]}}
            </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-sm-3">


    </div>
  </div>



</div>