.testefforttable
  color red

table.testeffort
  box-shadow 4px 4px 8px #999
  
  th, tr, td
    text-align center
    border 1px solid #b7b7b7
  td
    padding 5px 20px
  td.noPadding
    padding 0px
  thead
  tbody
    tr
      background #f2f2f2

.flipped, .flipped .content
  transform rotateX(180deg);
  -ms-transform rotateX(180deg)
  -webkit-transform rotateX(180deg)

.today-line
  position: absolute
  width: 5px
  background: #286090
  height: 255px
  z-index: 9084
  left: 35px;
  top: 0px;