<div class="container-fluid">

  <!-- dashboard grid -->
  <dashboardgrid></dashboardgrid>

  <div class="row">
    <div class="col-sm-6">

      <div class="box">
        <chartjsline></chartjsline>
      </div>
      
      <div class="box">
        <chartjsbar></chartjsbar>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box">

        <friend-searcher></friend-searcher>
      </div>

      <div class="box">
        <button ng-click="$ctrl.lol = 'a';">Up</button>
        <chartjspie test="$ctrl.lol"></chartjspie>
      </div>


      <div class="box">
        <chartjsbubble bubble-data="$ctrl.lol"></chartjsbubble>
      </div>
    </div>

  </div>
</div>