profile
  padding-left: 80px

  .box
    padding: 10px;
    background: white
    box-shadow: 3px 3px 4px #c9c9c9;
    overflow: hidden;
    overflow-x: scroll;

.sidecannon {
  border-radius: 0px 20px 20px 0px;
  border: 2px solid #597aad;
  padding: 24px 0px 0px 0px;
  margin-left: -60px !important;
  padding-left: 45px;
  margin-bottom: 18px;
  width: 50%;
}