.login
  color red

.login-wrapper
  max-width: 350px
  color: #73879C

.login-content
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  min-width: 280px;

.login-content h1
  font: normal 25px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px;

.login-content h1:before, .login_content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 45px;
  width: 20%;
}
.login-content h1:before {
  background: #7e7e7e;
  background: linear-gradient(right, #7e7e7e 0%, #fff 100%);
  left: 0;
}
.login-content h1:after {
  background: #7e7e7e;
  background: linear-gradient(left, #7e7e7e 0%, #fff 100%);
  right: 0;
}
.login-content h1:before, .login-content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 45px;
  width: 20%;
}

.login-content input
  border-radius: 3px;
  -ms-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
  -o-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
  box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
  border: 1px solid #c8c8c8;
  color: #777;
  margin: 0 0 20px;
  width: 100%;