<div class="container">

    <div class="row">

        <div class="col-sm-6">
            <!-- radio buttons -->
            <simple-input></simple-input>

            <quote-input></quote-input>

        </div>

        <div class="col-sm-6">
            <form-samples></form-samples>
        </div>

        <div class="col-sm-6">
            
        </div>


        <div class="col-xs-6">
            <h3>Basic Angular UI Datepicker</h3>

            <datepicker></datepicker>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.openComponentModal()">Open a component modal!</button>
    <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
</div>