<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">

            <!-- .x_panel -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>Data Binding</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <quote-input></quote-input>

                    <datepicker></datepicker>
                </div>
            </div>
            <!-- /.x_panel -->



            <!-- .x_panel -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>Registration Form</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <!-- start form for validation -->
                    <form id="demo-form" name="registrationForm">
                        <label for="fullname">Full Name * :</label>
                        <input type="text" id="fullname" class="form-control parsley-success" name="fullname" required="" data-com.agilebits.onepassword.user-edited="yes"
                            data-parsley-id="20">

                        <label for="email">Email * :</label>
                        <input type="email" id="email" class="form-control parsley-success" name="email" data-parsley-trigger="change" required=""
                            data-com.agilebits.onepassword.user-edited="yes" data-parsley-id="22">

                        <label for="heard">Job Position <i class="text-danger">*</i>:</label>
                        <select id="heard" class="form-control parsley-error" required="" data-parsley-id="38">
                            <option value="">Choose...</option>
                            <option value="engineer">Engineer</option>
                            <option value="doctor">Doctor</option>
                            <option value="lawyer">Lawyer</option>
                          </select>

                        <ul class="parsley-errors-list filled" id="parsley-id-38">
                            <li class="parsley-required">This value is required.</li>
                        </ul>

                        <label for="message">Message (20 chars min, 100 max) :</label>
                        <textarea id="message" required="required" class="form-control parsley-error" name="message" data-parsley-trigger="keyup"
                            data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                            data-parsley-validation-threshold="10" data-parsley-id="40"></textarea>
                        <ul class="parsley-errors-list filled" id="parsley-id-40">
                            <li class="parsley-required">This value is required.</li>
                        </ul>

                        <br>

                        <button class="btn btn-primary" ng-click="$ctrl.validateForm(registrationForm.$valid)">Validate</button>

                    </form>
                    <!-- end form for validations -->
                </div>
            </div>
            <!-- /.x_panel -->

        </div>


        <!-- Form Samples -->
        <div class="col-sm-6">
            <!-- .x_panel -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>Forms</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <!-- Component: Form-Samples -->
                    <form-samples></form-samples>

                </div>
            </div>
            <!-- /.x_panel -->




            <!-- .x_panel -->
            <div class="x_panel">
                <div class="x_title">
                    <h2>General Form <small>Click to validate</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Register</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <form class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Default Input</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" placeholder="Default Input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Disabled Input </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" disabled="disabled" placeholder="Disabled Input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Read-Only Input</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" readonly="readonly" placeholder="Read-Only Input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
                        </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea class="form-control" rows="3" placeholder="rows=&quot;3&quot;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="password" class="form-control" value="passwordonetwo">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">AutoComplete</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control">
                            <option>Choose option</option>
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Custom</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="select2_single form-control" tabindex="-1" ng-model="$ctrl.selectCustomValue">
                                    <option></option>
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="CA">California</option>
                                    <option value="NV">Nevada</option>
                                    <option value="OR">Oregon</option>
                                </select>
                                {{$ctrl.selectCustomValue}}
                            </div>
                        </div>

                        <div class="form-group">
                            <timezone-state-select selected-value="$ctrl.timezoneStateSelectValue" on-change="$ctrl.onChangeTimezoneStateSelect()">
                            </timezone-state-select>

                            {{$ctrl.timezoneStateSelectValue}}
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Multiple</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="select2_multiple form-control" multiple="multiple" ng-model="$ctrl.multiSelect">
                                    <option>Choose option</option>
                                    <option ng-repeat="key in [1,2,3,4,5,6] track by $index"
                                        value="{{key}}">
                                        Option {{key}}
                                    </option>
                                </select> {{$ctrl.multiSelect}}
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary">Cancel</button>
                                <button type="reset" class="btn btn-primary">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.x_panel -->
        </div>
    </div>
</div>