<table class="list-unstyled graph_analytics scroll-view">
  <thead> 
    <tr>
      <th>
        Max
      </th>

      <th>
        Min
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      
      <td>
        {{$ctrl.stats.max}}
        @
        {{$ctrl.labels[$ctrl.stats.maxIndex]}}
      </td>

      <td>
        {{$ctrl.stats.min}}
        @ 
        {{$ctrl.labels[$ctrl.stats.minIndex]}}
      </td>
    </tr>
  </tbody>
</table>

<button ng-click="$ctrl.refresh()">Refresh Data</button>